In [1]:
import glob
import pandas as pd
import re
from scipy import stats as st
import scipy

In [2]:
df = pd.read_csv('C:\\Users\\stolb\\Desktop\\Материалы к лекциям\\Статистика в Python\\Кейс-стади\\vgsales.txt')

In [3]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

H0: критики ставят спортивным играм низкие оценки (<=50)
H1: критики ставят спортивным играм высокие оценки (>50)
alpha = 0.05

In [26]:
alpha = 0.05
result = st.ttest_1samp(df.dropna().loc[df.Genre == 'Sports']['Critic_Score'], 50, alternative = 'greater')

In [19]:
df.loc[df.Genre == 'Sports', 'Critic_Score'].mean()

71.96817420435511

In [27]:
result

Ttest_1sampResult(statistic=56.28305691862661, pvalue=6.909821989828013e-304)

In [28]:
if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, критики ставят спортивным играм высокие оценки (>50)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, критики ставят спортивным играм низкие оценки (<=50)')

Отвергаем нулевую гипотезу, критики ставят спортивным играм высокие оценки (>50)

In [32]:
#Проверим, где больше среднее - у PC или PS4
print(df.loc[df.Platform == 'PC', 'Critic_Score'].mean())
print(df.loc[df.Platform == 'PS4', 'Critic_Score'].mean())

75.92867132867133
72.09126984126983

Как будто бы, для компьютерных игры оценки критиков выше. Проверим статистическую значимость этой разницы.
H0: в среднем оценки критиков для PC и PS4 равны
H1: критикам чаще нравятся игры для PC

In [36]:
result = st.ttest_ind(df.dropna().loc[df.Platform == 'PC', 'Critic_Score'], df.dropna().loc[df.Platform == 'PS4', 'Critic_Score'], equal_var=False)

In [37]:
result

Ttest_indResult(statistic=3.987087145027479, pvalue=7.984874894502312e-05)

In [38]:
if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, критикам чаще нравятся игры для PC')
else:
    print('Не отвергаем нулевую нулевую гипотезу, в среднем оценки критиков для PC и PS4 равны')

Отвергаем нулевую гипотезу, критикам чаще нравятся игры для PC

In [39]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', nan], dtype=object)

In [40]:
#проверим, стрелялки или стратегии больше нравятся критикам
print(df.loc[df.Genre == 'Shooter', 'Critic_Score'].mean())
print(df.loc[df.Genre == 'Strategy', 'Critic_Score'].mean())

70.18114406779661
72.08609271523179

Средняя оценка критиков по стратегиям выше. 
H0: в среднем оценки критиков для стрелялок и стратегий равны
H1: критики выше оценивают стратегии

In [41]:
result = st.ttest_ind(df.dropna().loc[df.Genre == 'Shooter', 'Critic_Score'], df.dropna().loc[df.Genre == 'Strategy', 'Critic_Score'], equal_var=False)
result

Ttest_indResult(statistic=-2.502563131994353, pvalue=0.012619857894976985)

In [42]:
if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, критики выше оценивают стратегии')
else:
    print('Не отвергаем нулевую нулевую гипотезу, в среднем оценки критиков для стрелялок и стратегий равны')

Отвергаем нулевую гипотезу, критики выше оценивают стратегии

В целом, значение p-value не слишком низкое - если бы уровень значимости был 0.01, мы бы не смогли отвергнуть нулевую гипотезу

# Задание 2

In [2]:
data = pd.read_csv('C:\\Users\\stolb\\Desktop\\Материалы к лекциям\\Статистика в Python\\Кейс-стади\\spam.txt')

In [3]:
data_0 = pd.read_csv('C:\\Users\\stolb\\Desktop\\Материалы к лекциям\\Статистика в Python\\Кейс-стади\\spam.txt')

In [4]:
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
data['Message'] = data['Message'].str.lower()

In [6]:
data.head(30)

   Category                                            Message
0       ham  go until jurong point, crazy.. available only ...
1       ham                      ok lar... joking wif u oni...
2      spam  free entry in 2 a wkly comp to win fa cup fina...
3       ham  u dun say so early hor... u c already then say...
4       ham  nah i don't think he goes to usf, he lives aro...
5      spam  freemsg hey there darling it's been 3 week's n...
6       ham  even my brother is not like to speak with me. ...
7       ham  as per your request 'melle melle (oru minnamin...
8      spam  winner!! as a valued network customer you have...
9      spam  had your mobile 11 months or more? u r entitle...
10      ham  i'm gonna be home soon and i don't want to tal...
11     spam  six chances to win cash! from 100 to 20,000 po...
12     spam  urgent! you have won a 1 week free membership ...
13      ham  i've been searching for the right words to tha...
14      ham                i have a date on sunday with will!!
15     spam  xxxmobilemovieclub: to use your credit, click ...
16      ham                         oh k...i'm watching here:)
17      ham  eh u remember how 2 spell his name... yes i di...
18      ham  fine if thats the way u feel. thats the way ...
19     spam  england v macedonia - dont miss the goals/team...
20      ham          is that seriously how you spell his name?
21      ham    i‘m going to try for 2 months ha ha only joking
22      ham  so ü pay first lar... then when is da stock co...
23      ham  aft i finish my lunch then i go str down lor. ...
24      ham  ffffffffff. alright no way i can meet up with ...
25      ham  just forced myself to eat a slice. i'm really ...
26      ham                     lol your always so convincing.
27      ham  did you catch the bus ? are you frying an egg ...
28      ham  i'm back &amp; we're packing the car now, i'll...
29      ham  ahhh. work. i vaguely remember that! what does...

In [7]:
data['Message'] = data['Message'].replace(to_replace = '[\W_]+', value = ' ', regex= True )

In [8]:
data['Message'] = data['Message'].apply(lambda text: text.split())

In [9]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords_set = set(stopwords.words('english'))
data['Message'] = data['Message'].apply(lambda x: [word for word in x if word not in (stopwords_set)])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\stolb\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
data.head(30)

   Category                                            Message
0       ham  [go, jurong, point, crazy, available, bugis, n...
1       ham                     [ok, lar, joking, wif, u, oni]
2      spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3       ham      [u, dun, say, early, hor, u, c, already, say]
4       ham     [nah, think, goes, usf, lives, around, though]
5      spam  [freemsg, hey, darling, 3, week, word, back, l...
6       ham  [even, brother, like, speak, treat, like, aids...
7       ham  [per, request, melle, melle, oru, minnaminungi...
8      spam  [winner, valued, network, customer, selected, ...
9      spam  [mobile, 11, months, u, r, entitled, update, l...
10      ham  [gonna, home, soon, want, talk, stuff, anymore...
11     spam  [six, chances, win, cash, 100, 20, 000, pounds...
12     spam  [urgent, 1, week, free, membership, 100, 000, ...
13      ham  [searching, right, words, thank, breather, pro...
14      ham                                     [date, sunday]
15     spam  [xxxmobilemovieclub, use, credit, click, wap, ...
16      ham                                  [oh, k, watching]
17      ham  [eh, u, remember, 2, spell, name, yes, v, naug...
18      ham                 [fine, way, u, feel, way, gota, b]
19     spam  [england, v, macedonia, dont, miss, goals, tea...
20      ham                           [seriously, spell, name]
21      ham            [going, try, 2, months, ha, ha, joking]
22      ham             [ü, pay, first, lar, da, stock, comin]
23      ham  [aft, finish, lunch, go, str, lor, ard, 3, smt...
24      ham           [ffffffffff, alright, way, meet, sooner]
25      ham  [forced, eat, slice, really, hungry, tho, suck...
26      ham                          [lol, always, convincing]
27      ham  [catch, bus, frying, egg, make, tea, eating, m...
28      ham         [back, amp, packing, car, let, know, room]
29      ham   [ahhh, work, vaguely, remember, feel, like, lol]

In [11]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()
data['Message'] = data['Message'].apply(lambda x: [wordnet_lemmatizer.lemmatize(word) for word in x])

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\stolb\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
data.head(30)

   Category                                            Message
0       ham  [go, jurong, point, crazy, available, bugis, n...
1       ham                     [ok, lar, joking, wif, u, oni]
2      spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3       ham      [u, dun, say, early, hor, u, c, already, say]
4       ham        [nah, think, go, usf, life, around, though]
5      spam  [freemsg, hey, darling, 3, week, word, back, l...
6       ham  [even, brother, like, speak, treat, like, aid,...
7       ham  [per, request, melle, melle, oru, minnaminungi...
8      spam  [winner, valued, network, customer, selected, ...
9      spam  [mobile, 11, month, u, r, entitled, update, la...
10      ham  [gonna, home, soon, want, talk, stuff, anymore...
11     spam  [six, chance, win, cash, 100, 20, 000, pound, ...
12     spam  [urgent, 1, week, free, membership, 100, 000, ...
13      ham  [searching, right, word, thank, breather, prom...
14      ham                                     [date, sunday]
15     spam  [xxxmobilemovieclub, use, credit, click, wap, ...
16      ham                                  [oh, k, watching]
17      ham  [eh, u, remember, 2, spell, name, yes, v, naug...
18      ham                 [fine, way, u, feel, way, gota, b]
19     spam  [england, v, macedonia, dont, miss, goal, team...
20      ham                           [seriously, spell, name]
21      ham             [going, try, 2, month, ha, ha, joking]
22      ham             [ü, pay, first, lar, da, stock, comin]
23      ham  [aft, finish, lunch, go, str, lor, ard, 3, smt...
24      ham           [ffffffffff, alright, way, meet, sooner]
25      ham  [forced, eat, slice, really, hungry, tho, suck...
26      ham                          [lol, always, convincing]
27      ham  [catch, bus, frying, egg, make, tea, eating, m...
28      ham         [back, amp, packing, car, let, know, room]
29      ham   [ahhh, work, vaguely, remember, feel, like, lol]

In [13]:
data['Message'] = data['Message'].apply(lambda x: ' '.join([word for word in x]))

In [41]:
data.loc[4805]

Category                                                  ham
Message     er hello thing quite go plan limping slowly ho...
Name: 4805, dtype: object

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(min_df = 2, max_df = 0.5)
tfidf_matrix = tfidf.fit_transform(data.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [16]:
tfidf_matrix

,00,000,008704050406,01223585334,02,0207,02073162414,021,03,04,...,yor,youre,yr,yummy,yun,yunny,yuo,yup,zed,zoe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, data['Category'], test_size=0.3, random_state = 42)

In [42]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
res = lda.predict(X_test)
result = pd.DataFrame([y_test, res]).T

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, lda.predict(X_test))

0.9186602870813397

Коэффициент детерминации близок к 1, а значит, модель неплохо научилась классифицировать запросы.

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, lda.predict(X_test))

array([[1362,   86],
       [  50,  174]], dtype=int64)

По матрице ошибок, видимо, можно понять, какое количество запросов было определено правильно в спам и не спам (главная диагональ), а также количество ошибок 1го и 2го рода, кода спам определялся в не спам, и наоборот.

In [22]:
X_train0, X_test0, y_train0, y_test0 = train_test_split(data_0['Message'], data_0['Category'], test_size=0.3, random_state = 42)

In [51]:
false_res = pd.DataFrame()
i = 0
for index, val in y_test0.items():
    if val != res[i]:
        new_line = {
            'index': index,
            'true_res': val, 
            'false_res': lda.predict(X_test)[i],
            'text': X_test0[index]
        } 
        false_res = false_res.append(new_line, ignore_index=True)
    i += 1
false_res

,false_res,index,text,true_res
0,spam,4805.0,"Er, hello, things didn‘t quite go to plan – is...",ham
1,spam,2422.0,Err... Cud do. I'm going to at 8pm. I haven't...,ham
2,spam,381.0,I guess that's why you re worried. You must kn...,ham
3,ham,881.0,Reminder: You have not downloaded the content ...,spam
4,spam,1186.0,Annoying isn't it.,ham
...,...,...,...,...
131,spam,1061.0,I'm working technical support :)voice process....,ham
132,spam,2787.0,cThen i thk shd b enuff.. Still got conclusion...,ham
133,spam,3782.0,"Dear friends, sorry for the late information. ...",ham
134,spam,2505.0,"Hello, my boytoy! I made it home and my consta...",ham
135,ham,650.0,"You have won ?1,000 cash or a ?2,000 prize! To...",spam